# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Build files
dist/
build/

# Temporary
tmp/
temp/

# Coverage
coverage/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/